.output_canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    background-color:rgba(0, 0, 0, 0);
}
img {
    width: 100%;
    height: auto;
     /* Magic! */
    max-width: 50vw;
}
.bodyparts {
    position: relative;
    width: 50%;
    height: auto;
     /* Magic! */
    max-width: 50vw;
    display: inline-block;
}  
.joint_btn {
    position: absolute; 
    bottom: 10%;
    left: 5%;
    background-color: red;
}
.options {
    position: relative;
    float: right;
}
video {
    width: 100%;
    min-height: 480px;
    height: calc((9 / 16) * 100vw);
    max-height: calc(100vh - 169px);
    object-fit: fill;
}