* {
    background-color: rgb(34, 37, 46);
    font-size: 102%;
    text-align: center;
}

label {
    color:white;
    font-weight: 900;
}
h2 {
  color:white;
  font-weight: 900;
  font-size: 200%;
}
h1 {
  color:white;
  font-weight: 900;
  font-size: 200%;
}
button {
    background-color: rgb(40, 44, 54);
    color:rgb(255, 255, 255);
    font-weight: 900;
    transition: 0.25s;
    border: 1px solid #ccc;
    cursor: pointer;
}
button:hover {
    background-color: rgb(98, 107, 133);
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(58, 63, 78);
  }
  
  .navli {
    float: left;
  }
  
  .navli a {
    display: block;
    color: rgb(255, 255, 255);
    background-color: rgb(58, 63, 78);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.25s;
  }
  
  /* Change the link color to #111 (black) on hover */
  .navli a:hover {
    background-color: rgb(98, 107, 133);
    color:white;
  }

  * {
    box-sizing: border-box;
  }
  .formPopup {
    width: 80%;
    height: 50%;
    margin: 0 auto;
    display: none;
    position: fixed;
    left: 50%;
    top: 5%;
    transform: translate(-50%, 5%);
    border: 3px solid #999999;
    z-index: 15;
    font-size: 100%;
    overflow-y: scroll; 
  }
  .formContainer {
    padding: 20px;
    background-color: rgb(58, 63, 78);
  }
  .formContainer .btn {
    padding: 12px 20px;
    border: none;
    background-color: #8ebf42;
    color: white;
    cursor: pointer;
    width: 100%;
    margin-bottom: 15px;
    opacity: 0.8;
  }
  .formContainer .cancel {
    background-color: rgb(124, 41, 41);
    color: white;
    z-index: 16;
    line-height: 12px;
    width: 12px;
    margin-top: 1px;
    margin-right: 2px;
    position:absolute;
    top:0;
    left:0;
  }
  .overlay {
    position:fixed;
    left:0;
    top:0;
    width:100vw;
    height:100vh;
    display:none;
    background-color:#000;
    opacity:0.5;
    z-index: 5;
}
input[type="file"] {
  display: none;
}
#import {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  background-color: rgb(41, 64, 124);
}
#import :hover {
  color: rgb(98, 107, 133);
}
#export {
  background-color: rgb(124, 41, 41);
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}