* {
  background-color: rgb(34, 37, 46);
  font-size: 102%;
}
label {
  color:white;
  background-color: transparent;
  font-weight: 900;
}
button {
  background-color: rgb(163, 64, 64);
  color:black;
  font-weight: 900;
  transition: 0.25s;
  border: 1px solid #ccc;
  cursor: pointer;
}
button:hover {
  color:white;
}
select {
  background-color: rgb(37, 37, 37);
  color: rgb(53, 156, 53);
  font-weight: 900;
}
input {
  background-color: rgb(37, 37, 37);
  color: white;
  font-weight: 900;
}
h2 {
  color: white;
}
#pauseBtn {
  background-color: rgb(53, 156, 53);
  transition: 0.25s;
  color: black;
}
#pauseBtn:hover {
  color:white;
}

.overlay {
    position:fixed;
    left:0;
    top:0;
    width:100vw;
    height:100vh;
    display:none;
    background-color:#000;
    opacity:0.5;
    z-index: 5;
}

.output_canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    background-color:rgba(0, 0, 0, 0);
}
video {
    width: 100%;
    min-height: 480px;
    height: calc((9 / 16) * 100vw);
    max-height: calc(100vh - 169px);
    object-fit: fill;
}
.exdesc {
    position: absolute;
    z-index: 2;
    background-color: transparent;
}
* {
    box-sizing: border-box;
  }
  .formPopup {
    display: none;
    position: fixed;
    left: 45%;
    top: 5%;
    transform: translate(-50%, 5%);
    border: 3px solid #999999;
    z-index: 15;
  }
  .formContainer {
    max-width: 300px;
    padding: 20px;
    background-color: rgb(34, 37, 46);
  }
  .formContainer .btn {
    padding: 12px 20px;
    border: none;
    background-color: #8ebf42;
    color: #fff;
    cursor: pointer;
    width: 100%;
    margin-bottom: 15px;
    opacity: 0.8;
  }
  .formContainer .cancel {
    background-color: rgb(163, 64, 64);
    color: white;
    z-index: 16;
  }
  .info {
    font-size:50px;
    text-shadow: 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black;
  }